---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<encrypted_key>&location=2044%20N%20Ogden,Denver%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 15 Jun 2022 16:56:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"2044
        N Ogden,Denver CO"},"locations":[{"street":"2044 N Ogden St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80205-5133","geocodeQualityCode":"P1BAA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"R","linkId":"r51987583|p195725596|n253993515","unknownInput":"","type":"s","latLng":{"lat":39.748366,"lng":-104.974553},"displayLatLng":{"lat":39.748378,"lng":-104.974211},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<encrypted_key>&type=map&size=225,160&locations=39.748366,-104.974553|marker-sm-50318A-1&scalebar=true&zoom=15&rand=24934443"},{"street":"[1958
        - 1998] N Ogden St","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80218-1022","geocodeQualityCode":"B[...]
